@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
body {
  background-color: #E8E1DB;
  font-family: 'Nunito', sans-serif;
  color: #362E23;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{
  text-align: center;
  padding-top: 20px;
}

.main{
  background-color: #A9AC5D;
  width: 400px;
  height: 450px;
  margin: auto;
  display: block;
  border-bottom: 10px solid;
  border-color: #6D6C3C;
  border-radius: 20px;
  margin-top: 200px ;
}

input, label{
  display: block;
  margin: auto;
}

label{
  width: 300px;
  text-align: left;
  margin-bottom: 5px;
}

.user, .password{
  border-style: solid;
  border-bottom: 10px solid;
  border-color: #f3f1f1;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

input:focus{
  outline: none;
  background-color: #f6f5f5;
}

.login{
  width: 300px;
  height: 40px;
  margin: auto;
  display: block;
  margin-top: 130px;
  border-bottom: 10px solid;
  border-color: #f3f1f1;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  background-color: #ffff;
  font-family: 'Nunito', sans-serif;
}

.login:hover{
  background-color: #f6f5f5;
  transition: 0.3s;
}

.teste{
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 300px;
  height: 40px;
  margin: auto;
  display: block;
  margin-top: 130px;
  border-bottom: 10px solid;
  border-color: #f3f1f1;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  background-color: #ffff;
  font-family: 'Nunito', sans-serif;
}

.btn:hover{
  background-color: #f6f5f5;
  transition: 0.3s;
}


