<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <style>@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');</style>
  <title>Autenticação</title>
  <form action="" method="">
  <div class="main">
    <label class="title">Faça seu login!</label>
    <label>Usuário</label>
    <input type="text" class="user" name="user">
    <label>Senha</label>
    <input type="number" class="password" name="password">
    <input type="submit" class="login" name="login">
    </div>
    </form>
</head>
<body>
  
</body>
</html>