<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
  <form action="/logar" method="post">
  <div class="main">
    <h1 class="title">Faça seu login!</h1>
    <label for="usuario">Usuário</label>
    <input type="text" class="user" name="usuario" id="usuario">
    <label for="senha">Senha</label>
    <input type="password" class="password" name="senha" id="senha">
    <input type="submit" class="login" name="login">
    </div>
    </form>
</head>
<body>
  
</body>
</html>